body {
    display: flex;
    justify-content: center;
    align-items: center;
    height:900px;
    background-color: #a3f0d6;
    /*border:solid black 2px;*/
}

#calculator-container, #calc-screen, #buttons-container {
    display: flex;
}

.operators, .other, .numbers, #calculator-container, #calc-screen {
    border-radius: 8px;
}

#calculator-container{
    flex-direction: column;
    width: 300px;
    height: 450px;
    justify-content: end;
    align-items: center;
    padding: 20px;
    background-color:#f6b7e0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
                0 1px 3px rgba(0, 0, 0, 0.08);
}

#calc-screen, .buttons-container {
    width: 100%;
}

#calc-screen {
    height: 100px;
    margin-bottom: 10px;
    padding: 2px;
    font-size: 49px;
    color: #444;
    font-family: 'VT323', monospace;
    align-items: end;
    justify-content: end;
    background-color:#c7c1c7;
    box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.1);

}

/*make sizing fit square*/
#buttons-container {
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.operators, .other, .numbers {
    width: 70px;
    height: 55px;
    margin: 2px;
    background-color:#f0e8c9;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif; 
    color:#333;
    font-size: 18px;
    transition: background-color 0.3s ease;
    box-shadow: 1.0px 2.1px 2.1px hsl(0deg 0% 0% / 0.47);
    
}

.operators:hover, .other:hover, .numbers:hover {
    background-color: #d4d1b3;
  }

#equals {
    width:146px;
}


